<!-- page_detail.html -->
<div class="notetext">
    <div class="text-box">
        <h2>일기 상세 페이지</h2>
        <div class="state">
            <p>감정 상태</p>
            <span>{{page.feeling}}</span>
        </div>
        <div class="score">
            <p>감정 점수</p>
            <span>{{page.score}}점</span>
        </div> 
        <div class="date">
            <span>{{page.dt_created|date:"d"}}</span>
            <div class="month-year">
                <p class="month">{{page.dt_created|date:"M"}}</p>
                <p class="year">{{page.dt_created|date:"Y"}}</p>
            </div>
        </div>
        <div class="detail">{{page.content|linebreaksbr}}</div>
        <div class="notetext-btn">
            <ul>
                <li><a href="#">삭제하기</a></li>
                <li><a href="#">수정하기</a></li>
            </ul>
        </div>
    </div>
</div>