{% extends 'diary/base.html' %}
{% block page_container %}
<!-- page_list.html -->
<h2>일기 목록 페이지</h2>

<ul>
    {% for obj in pages %}
    <li>
                <a href={% url 'page-detail' obj.id %}>
            <div class="date">
                <span>{{obj.dt_created|date:"d"}}</span>
                <p>{{obj.dt_created|date:"M"}}</p>
            </div>
            <h2>{{obj.title}}</h2>
            <div class="score">
                <p>감정점수</p>
                <span>{{obj.score}}점</span>
            </div>
                </a>
    </li>
    {% endfor %}
</ul>



{% endblock page_container %}